<h1>Listing aucs</h1>

<table>
  <tr>
    <th>Experiment</th>
    <th>Column</th>
    <th>Value</th>
  </tr>

<% @aucs.each do |auc| %>
  <tr>
    <td><%=h auc.experiment %></td>
    <td><%=h auc.column %></td>
    <td><%=h auc.value %></td>
    <td><%= link_to 'Show', auc %></td>
    <td><%= link_to 'Edit', edit_auc_path(auc) %></td>
    <td><%= link_to 'Destroy', auc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New auc', new_auc_path %>