<h1>New auc</h1>

<% form_for(@auc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :experiment %><br />
    <%= f.text_field :experiment %>
  </p>
  <p>
    <%= f.label :column %><br />
    <%= f.text_field :column %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', aucs_path %>