<p>
  <b>Experiment:</b>
  <%=h @auc.experiment %>
</p>

<p>
  <b>Column:</b>
  <%=h @auc.column %>
</p>

<p>
  <b>Value:</b>
  <%=h @auc.value %>
</p>


<%= link_to 'Edit', edit_auc_path(@auc) %> |
<%= link_to 'Back', aucs_path %>