<% content_for :head do %>
  <%= flot_includes %>
<% end %>

<h1>Information for Matrix "<%= @matrix.title %>" (<%= @matrix.id %>)</h1>
<ul>
<%- unless @matrix.parent_id.nil? -%>
  <li>Parent: <%= @matrix.parent_id %></li>
  <li>Cardinality: <%= cardinality(@matrix) %></li>
<%- end -%>
<%- unless @matrix.children.count == 0 -%>
  <li>Children: <%= @matrix.list_children %></li>
<%- end -%>
  <li>Row Species: <%= @matrix.row_species %></li>
  <li>Column Species: <%= @matrix.column_species %></li>
  <li>Created at: <%= @matrix.created_at %></li>
  <li>Updated at: <%= @matrix.updated_at %></li>
</ul>

<%#= flot_canvas 'matrix_row_distribution' %>

<%# flot_graph('matrix_row_distribution', @row_distribution) do %>
  <%#= flot_plot %>
<%# end %>

<h3>Comments</h3>
<%= render :partial => 'comments', :object => @matrix.comments %>

<h2>Experiments</h2>
<%- if @matrix.experiments.count > 0 -%>
  <table id="matrix_experiments">
  <tr>
    <th>ID</th>
    <th>Method</th>
    <th>Distance Measure</th>
    <th>Sources</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Started</th>
    <th>Completed</th>
    <th>Exit Code</th>
    <th>Mean AUC</th>
  </tr>
  <% @matrix.experiments.find(:all, :order => :completed_at).each do |experiment| %>
    <tr>
      <td rowspan="2" class="experiment_id"><%= experiment.id %></td>
      <td><tt><%= experiment.method %></tt></td>
      <td><tt><%= experiment.distance_measure %></tt></td>
      <td><%= source_matrices(experiment) %></td>
      <td><%= experiment.created_at %></td>
      <td><%= experiment.updated_at %></td>
      <td><%= experiment.started_at || run_link(experiment) %></td>
      <td><%= link_to experiment.completed_at || "-", experiment %></td>
      <td><%= experiment.run_result %></td>
      <td><%= link_to_experiment_if_appropriate(experiment) %></td>
      <!--li><h4>Comments</h4><%#= render :partial => 'comments', :object => experiment.comments %></li-->
    </tr>
    <tr>
      <td colspan="9" class="experiment_argument_string"><tt><%= experiment.argument_string %></tt></td>
    </tr>
  <% end %>
  </table>
  <br/>
  <%= flot_canvas 'experiment_roc_plot' %>

  <% flot_graph('experiment_roc_plot', @rocs) do %>
    <%= flot_plot %>
  <% end %>
<%- else -%>
<p><em>None found.</em></p>
<%- end -%>
