<h1>New Experiment</h1>

<% form_for(@experiment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :predict_matrix %><br />
    <%= select_matrix f, :predict_matrix_id %>
  </p>
  <p>
    <%= f.label :method %>
    <%= select_method f, :method %>
  </p>
  <p>
    <%#= f.label :distance_measure %>
    <%#= select_distance_measure f, :distance_measure %>
  </p>
  <p>
    <%= f.label :validation_type %>
    <%= f.text_field :validation_type %>
  </p>
  <p>
    <%= f.label :k %>
    <%= f.text_field :k %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', matrix_pairs_path %>