<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>

<table id="experiment_rocs">
  <tr>
    <th><%= @experiment.predict_matrix.column_title %></th>
    <th>AUC</th>
    <th>TP</th>
    <th>FP</th>
    <th>TN</th>
    <th>FN</th>
  </tr>
<%- @experiment.rocs.each do |roc| -%>
  <tr>
    <td><%= roc.column %></td>
    <td><%= roc.auc %></td>
    <td><%= roc.true_positives %></td>
    <td><%= roc.false_positives %></td>
    <td><%= roc.true_negatives %></td>
    <td><%= roc.false_negatives %></td>
  </tr>
<%- end -%>
</table>