<% content_for :head do %>
  <%= flot_includes %>
<% end %>

<p>
  <b>Title:</b>
  <%=h @roc_group.title %>
</p>

<%= flot_canvas 'experiment_roc_plot' %>

<% flot_graph('experiment_roc_plot', @rocs) do %>
  <%= flot_plot %>
<% end %>


<%= link_to 'Edit', edit_roc_group_path(@roc_group) %> |
<%= link_to 'Back', roc_groups_path %>